.wp-block-button.wc-block-components-product-button.is-style-icon-auto {
	position: relative;
}

.wp-block-button.wc-block-components-product-button.is-style-icon-auto > span,
.wp-block-button.wc-block-components-product-button.is-style-icon-auto .wp-block-button__link {
	padding: 0.2em;
}

.wp-block-button.wc-block-components-product-button.is-style-icon-auto > span {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	color: var(--wp--preset--color--base);
	background-color: var(--wp--preset--color--accent-1);
	border-radius: var(--wp--custom--button-radius);
}

.wp-block-button.wc-block-components-product-button.is-style-icon-auto > span a.added_to_cart,
.wp-block-button.wc-block-components-product-button.is-style-icon-auto .wp-block-button__link span {
	font-size: 0px;
	width: 24px;
	height: 24px;
	mask-size: 24px 24px;
	-webkit-mask-size: 24px 24px;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	color: inherit;
	background-color: currentColor;
}

.wp-block-button.wc-block-components-product-button.is-style-icon-auto > span a.added_to_cart {
	font-size: unset;
	margin-top: 0;
}

.wp-block-button.wc-block-components-product-button.is-style-icon-auto .wp-block-button__link span {
	mask-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M11 12.5V17.5H12.5V12.5H17.5V11H12.5V6H11V11H6V12.5H11Z%27></path></svg>');
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M11 12.5V17.5H12.5V12.5H17.5V11H12.5V6H11V11H6V12.5H11Z%27></path></svg>');
}

.wp-block-button.wc-block-components-product-button.is-style-icon-auto > span a.added_to_cart {
	mask-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 32 32%27 fill=%27none%27 width=%2720%27 height=%2720%27 aria-hidden=%27true%27 focusable=%27false%27><circle cx=%2712.6667%27 cy=%2724.6667%27 r=%272%27 fill=%27currentColor%27></circle><circle cx=%2723.3333%27 cy=%2724.6667%27 r=%272%27 fill=%27currentColor%27></circle><path fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M9.28491 10.0356C9.47481 9.80216 9.75971 9.66667 10.0606 9.66667H25.3333C25.6232 9.66667 25.8989 9.79247 26.0888 10.0115C26.2787 10.2305 26.3643 10.5211 26.3233 10.8081L24.99 20.1414C24.9196 20.6341 24.4977 21 24 21H12C11.5261 21 11.1173 20.6674 11.0209 20.2034L9.08153 10.8701C9.02031 10.5755 9.09501 10.269 9.28491 10.0356ZM11.2898 11.6667L12.8136 19H23.1327L24.1803 11.6667H11.2898Z%27 fill=%27currentColor%27></path><path fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M5.66669 6.66667C5.66669 6.11438 6.1144 5.66667 6.66669 5.66667H9.33335C9.81664 5.66667 10.2308 6.01229 10.3172 6.48778L11.0445 10.4878C11.1433 11.0312 10.7829 11.5517 10.2395 11.6505C9.69614 11.7493 9.17555 11.3889 9.07676 10.8456L8.49878 7.66667H6.66669C6.1144 7.66667 5.66669 7.21895 5.66669 6.66667Z%27 fill=%27currentColor%27></path></svg>');
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 32 32%27 fill=%27none%27 width=%2720%27 height=%2720%27 aria-hidden=%27true%27 focusable=%27false%27><circle cx=%2712.6667%27 cy=%2724.6667%27 r=%272%27 fill=%27currentColor%27></circle><circle cx=%2723.3333%27 cy=%2724.6667%27 r=%272%27 fill=%27currentColor%27></circle><path fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M9.28491 10.0356C9.47481 9.80216 9.75971 9.66667 10.0606 9.66667H25.3333C25.6232 9.66667 25.8989 9.79247 26.0888 10.0115C26.2787 10.2305 26.3643 10.5211 26.3233 10.8081L24.99 20.1414C24.9196 20.6341 24.4977 21 24 21H12C11.5261 21 11.1173 20.6674 11.0209 20.2034L9.08153 10.8701C9.02031 10.5755 9.09501 10.269 9.28491 10.0356ZM11.2898 11.6667L12.8136 19H23.1327L24.1803 11.6667H11.2898Z%27 fill=%27currentColor%27></path><path fill-rule=%27evenodd%27 clip-rule=%27evenodd%27 d=%27M5.66669 6.66667C5.66669 6.11438 6.1144 5.66667 6.66669 5.66667H9.33335C9.81664 5.66667 10.2308 6.01229 10.3172 6.48778L11.0445 10.4878C11.1433 11.0312 10.7829 11.5517 10.2395 11.6505C9.69614 11.7493 9.17555 11.3889 9.07676 10.8456L8.49878 7.66667H6.66669C6.1144 7.66667 5.66669 7.21895 5.66669 6.66667Z%27 fill=%27currentColor%27></path></svg>');
}

.wp-block-button.wc-block-components-product-button.is-style-icon-auto .wp-block-button__link.product_type_variable span {
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-2 -2 28 28%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M12 6a9.77 9.77 0 0 1 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5A9.77 9.77 0 0 1 12 6m0-2C7 4 2.73 7.11 1 11.5a11.83 11.83 0 0 0 22 0C21.27 7.11 17 4 12 4zm0 5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5m0-2a4.5 4.5 0 1 0 .01 9.01A4.5 4.5 0 0 0 12 7z%27/></svg>');
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-2 -2 28 28%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M12 6a9.77 9.77 0 0 1 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5A9.77 9.77 0 0 1 12 6m0-2C7 4 2.73 7.11 1 11.5a11.83 11.83 0 0 0 22 0C21.27 7.11 17 4 12 4zm0 5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5m0-2a4.5 4.5 0 1 0 .01 9.01A4.5 4.5 0 0 0 12 7z%27/></svg>');
}

.block-editor-block-list__block.wp-block-woocommerce-product-button.is-style-icon-auto {
	background-color: var(--wp--preset--color--accent-1);
	border-radius: var(--wp--custom--button-radius);
}

.block-editor-block-list__block.wp-block-woocommerce-product-button.is-style-icon-auto .wp-block-button__link {
	width: calc(24px + .4em);
	height: calc(24px + .4em);
	mask-size: 24px 24px;
	-webkit-mask-size: 24px 24px;
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	color: transparent;
	background-color: var(--wp--preset--color--base);
	mask-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M11 12.5V17.5H12.5V12.5H17.5V11H12.5V6H11V11H6V12.5H11Z%27></path></svg>');
	-webkit-mask-image: url('data:image/svg+xml,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 24 24%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M11 12.5V17.5H12.5V12.5H17.5V11H12.5V6H11V11H6V12.5H11Z%27></path></svg>');
	mask-position: .2em;
	-webkit-mask-position: .2em;
}

.block-editor-block-list__block.wp-block-woocommerce-product-button.is-style-icon-auto .wp-block-button__link[aria-label*="Select"] {
	mask-image: url('data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-2 -2 28 28%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M12 6a9.77 9.77 0 0 1 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5A9.77 9.77 0 0 1 12 6m0-2C7 4 2.73 7.11 1 11.5a11.83 11.83 0 0 0 22 0C21.27 7.11 17 4 12 4zm0 5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5m0-2a4.5 4.5 0 1 0 .01 9.01A4.5 4.5 0 0 0 12 7z%27/></svg>');
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-2 -2 28 28%27 width=%2724%27 height=%2724%27 aria-hidden=%27true%27 focusable=%27false%27><path d=%27M12 6a9.77 9.77 0 0 1 8.82 5.5C19.17 14.87 15.79 17 12 17s-7.17-2.13-8.82-5.5A9.77 9.77 0 0 1 12 6m0-2C7 4 2.73 7.11 1 11.5a11.83 11.83 0 0 0 22 0C21.27 7.11 17 4 12 4zm0 5a2.5 2.5 0 1 1 0 5 2.5 2.5 0 0 1 0-5m0-2a4.5 4.5 0 1 0 .01 9.01A4.5 4.5 0 0 0 12 7z%27/></svg>');
}
