.wp-block-group.is-style-circle-align-top,
.wp-block-group.is-style-circle-align-middle,
.wp-block-group.is-style-circle-align-bottom {
	display: flex !important;
	flex-direction: column !important;
	border-radius: 99999px !important;
	aspect-ratio: 1 !important;
}

.wp-block-group.is-style-circle-align-top {
	justify-content: flex-start !important;
}

.wp-block-group.is-style-circle-align-middle {
	justify-content: center !important;
}

.wp-block-group.is-style-circle-align-bottom {
	justify-content: flex-end !important;
}

.wp-block-group.is-style-circle-align-top > *,
.wp-block-group.is-style-circle-align-middle > *,
.wp-block-group.is-style-circle-align-bottom > * {
	width: 100%;
}

.wp-block-group.is-style-last-child-hover,
.wp-block-group.is-style-last-child-hover-no-editor:not(.block-editor-block-list__block) {
	position: relative;
}

.wp-block-group.is-style-last-child-hover .wp-block-group:last-of-type,
.wp-block-group.is-style-last-child-hover-no-editor:not(.block-editor-block-list__block) .wp-block-group:last-of-type {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	background: var(--wp--custom--group-hover-bg);
	transform: scale(0.1);
	transition: all 0.3s ease-in-out;
}

.wp-block-group.is-style-last-child-hover:hover .wp-block-group:last-of-type,
.wp-block-group.is-style-last-child-hover-no-editor:not(.block-editor-block-list__block):hover .wp-block-group:last-of-type {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
	transition: all 0.3s ease-in-out;
}

.wp-block-group.is-style-last-child-hover.block-editor-block-list__block,
.wp-block-group.is-style-last-child-hover-no-editor.block-editor-block-list__block {
	outline: 1px dashed var(--wp-admin-theme-color);
}

.wp-block-group.is-style-last-child-hover.block-editor-block-list__block .wp-block-group:last-of-type,
.wp-block-group.is-style-last-child-hover-no-editor.block-editor-block-list__block .wp-block-group:last-of-type {
	outline: 1px dotted var(--wp-admin-theme-color);
}

.wp-block-group.is-style-shift-left-small {
	transform: translateX(var(--wp--custom--shift--left--small));
}

.wp-block-group.is-style-shift-left-medium {
	transform: translateX(var(--wp--custom--shift--left--medium));
}

.wp-block-group.is-style-shift-left-large {
	transform: translateX(var(--wp--custom--shift--left--large));
}

.wp-block-group.is-style-shift-right-small {
	transform: translateX(var(--wp--custom--shift--right--small));
}

.wp-block-group.is-style-shift-right-medium {
	transform: translateX(var(--wp--custom--shift--right--medium));
}

.wp-block-group.is-style-shift-right-large {
	transform: translateX(var(--wp--custom--shift--right--large));
}
