.wp-block-post-comments-form input:not([type="submit"]),
.wp-block-post-comments-form textarea {
	background-color: var(--wp--preset--color--base-2);
	border-color: var(--wp--preset--color--base-3);
}

.wp-block-post-comments-form.is-style-rounded-small input:not([type="submit"]),
.wp-block-post-comments-form.is-style-rounded-small textarea {
	border-radius: var(--wp--custom--border-radius--small);
}

.wp-block-post-comments-form.is-style-rounded-medium input:not([type="submit"]),
.wp-block-post-comments-form.is-style-rounded-medium textarea {
	border-radius: var(--wp--custom--border-radius--medium);
}

.wp-block-post-comments-form.is-style-rounded-large input:not([type="submit"]),
.wp-block-post-comments-form.is-style-rounded-large textarea {
	border-radius: var(--wp--custom--border-radius--large);
}
