.wp-block-separator.is-style-dotted.has-background,
.wp-block-separator.is-style-dashed.has-background,
.wp-block-separator.is-style-fading.has-background {
	background-color: transparent !important;
}

.wp-block-separator.is-style-dotted {
	height: 1px !important;
	width: 100% !important;
	border: none !important;
	background: repeating-linear-gradient(90deg, currentColor, currentColor 1px, transparent 1px, transparent 5px) !important;
}

.wp-block-separator.is-style-dotted-medium {
	height: 2px !important;
	width: 100% !important;
	border: none !important;
	background: repeating-linear-gradient(90deg, currentColor, currentColor 2px, transparent 2px, transparent 10px) !important;
}

.wp-block-separator.is-style-dotted-large {
	height: 3px !important;
	width: 100% !important;
	border: none !important;
	background: repeating-linear-gradient(90deg, currentColor, currentColor 3px, transparent 3px, transparent 15px) !important;
}

.wp-block-separator.is-style-dashed {
	height: 2px !important;
	width: 100% !important;
	border: none !important;
	background: repeating-linear-gradient(90deg, currentColor, currentColor 7px, transparent 7px, transparent 14px) !important;
}

.wp-block-separator.is-style-fading {
	height: 2px !important;
	width: 100% !important;
	border: none !important;
	background: linear-gradient(45deg, transparent 10%, currentColor, transparent 90%) !important;
}
