.wp-block-table.is-style-stripes td,
.wp-block-table.is-style-stripes th {
	border-color: var(--wp--preset--color--base-3);
}

.wp-block-table.is-style-stripes-no-border td,
.wp-block-table.is-style-stripes-no-border th {
	border-width: 0px;
}

.wp-block-table.is-style-stripes-no-border thead {
	border-bottom-width: 0px !important;
}

.wp-block-table.is-style-stripes-no-border tfoot {
	border-top-width: 0px !important;
}

.wp-block-table.is-style-stripes tbody tr:nth-child(2n+1),
.wp-block-table.is-style-stripes-no-border tbody tr:nth-child(2n+1) {
	background-color: var(--wp--preset--color--base-2);
}