/*
 * Product Template
 * Contains the block elements used to render a product.
 */
.product .wp-block-post-title a {
	text-decoration: none;
}

.wc-block-grid .wc-block-grid__product-onsale,
.wc-block-grid__product-image .wc-block-grid__product-onsale,
.wc-block-components-product-sale-badge {
	background: var(--wp--custom--wc-sale-bg);
	color: var(--wp--custom--wc-sale-color);
	border: var(--wp--custom--wc-sale-border);
	border-radius: var(--wp--custom--wc-sale-border-radius) !important;
	font-size: var(--wp--preset--font-size--small);
	text-transform: var(--wp--custom--wc-sale-letter-case);
	padding: var(--wp--custom--wc-sale-padding);
	display: var(--wp--custom--wc-sale-display) !important;
	align-items: center !important;
	justify-content: center !important;
	aspect-ratio: var(--wp--custom--wc-sale-aspect-ratio) !important;
	top: var(--wp--custom--wc-sale-position-top);
	box-sizing: border-box;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-image .wc-block-components-product-sale-badge--align-left,
.wc-block-components-product-image .wc-block-components-product-sale-badge--align-left {
	left: var(--wp--custom--wc-sale-position-left);
	right: auto;
}

.wc-block-grid__products .wc-block-grid__product .wc-block-components-product-image .wc-block-components-product-sale-badge--align-right,
.wc-block-components-product-image .wc-block-components-product-sale-badge--align-right {
	left: auto;
	right: var(--wp--custom--wc-sale-position-left);
}

/*
 * Product Price
 * Display the price of a product.
 */
.wc-block-components-product-price ins {
	color: var(--wp--custom--wc-price-sale);
	font-weight: var(--wp--custom--wc-bold-text);
	text-decoration: none;
}

/*
 * Product Image
 * Display the main product image.
 */
.wc-block-components-product-image img[alt=""] {
	border: none;
}

/*
 * Newest Products
 * Best Selling Products
 * Top Rated Products
 * On Sale Products
 * Products by Category
 */
.wc-block-grid__product,
.wc-block-grid.has-6-columns .wc-block-grid__product,
.wc-block-grid.has-5-columns .wc-block-grid__product,
.wc-block-grid.has-6-columns.alignfull .wc-block-grid__product,
.wc-block-grid.has-4-columns:not(.alignwide):not(.alignfull) .wc-block-grid__product,
.wc-block-grid.has-5-columns.alignfull .wc-block-grid__product,
.wc-block-grid.has-3-columns:not(.alignwide):not(.alignfull) {
    font-size: var(--wp--preset--font-size--medium);
}

.editor-styles-wrapper .wc-block-grid__product-title,
.wc-block-grid__product-title {
	font-size: var(--wp--preset--font-size--medium);
	font-weight: var(--wp--custom--wc-bold-text);
	color: var(--wp--preset--color--contrast);
}

.wc-block-grid__product .wc-block-grid__product-title {
	margin-bottom: .75rem;
}

a.wc-block-grid__product-link {
	text-decoration: none;
}

.wc-block-grid__product-price,
.wc-block-grid__product-add-to-cart.wp-block-button .wp-block-button__link {
	font-size: var(--wp--preset--font-size--small);
}

/*
 * Catalog Sorting
 * Enable customers to change the sorting order of the products.
 */
.woocommerce .woocommerce-ordering select,
.woocommerce.wc-block-catalog-sorting select.orderby {
	height: auto;
	padding: .9rem 1.1rem;
	line-height: 2em;
	color: var(--wp--preset--color--contrast);
	border-radius: var(--wp--custom--select-radius);
	background-color: var(--wp--preset--color--base-2);
	border: 1px solid var(--wp--preset--color--base-3);
}

/*
 * Add to Cart with Options
 * Display a button so the customer can add a product to their cart. Options will also be displayed depending on product type. e.g. quantity, variation.
 */
.woocommerce div.product form.cart {
	margin-bottom: 0;
}

.woocommerce div.product form.cart .variations label,
.woocommerce div.product p.price ins,
.woocommerce div.product span.price ins {
	font-weight: var(--wp--custom--wc-bold-text);
}

.woocommerce table.variations tr td select {
	height: auto;
	color: var(--wp--preset--color--contrast);
	border-radius: var(--wp--custom--select-radius);
	background-color: var(--wp--preset--color--base-2);
	border: 1px solid var(--wp--preset--color--base-3);
}

.woocommerce div.product form.cart .reset_variations {
	color: inherit;
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.woocommerce div.product form.cart .reset_variations:hover {
	text-decoration: underline;
}

/*
 * Product Image Gallery
 * Display a product's images.
 */
.woocommerce span.onsale {
	background-color: var(--wp--custom--wc-sale-bg-single);
	color: var(--wp--custom--wc-sale-color-single);
	border-radius: var(--wp--custom--wc-sale-border-radius-single);
	font-weight: var(--wp--custom--wc-bold-text);
	font-size: var(--wp--preset--font-size--medium);
	text-transform: var(--wp--custom--wc-sale-letter-case-single);
	top: var(--wp--custom--wc-sale-position-top-single);
}

.woocommerce .wp-block-woocommerce-product-image-gallery span.onsale {
	left: var(--wp--custom--wc-sale-position-left-single);
}

.woocommerce div.product div.images .flex-control-thumbs li {
	margin: 0.6rem 0.6rem 0 0;
	border: 1px solid var(--wp--preset--color--base-3);
}

/*
 * Product SKU
 * Display the SKU of a product.
 */
.wc-block-components-product-sku {
	font-size: inherit;
}

/*
 * Product Details
 * Display a product's description, attributes, and reviews.
 */
.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom-color: var(--wp--preset--color--base-3);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-color: var(--wp--preset--color--base-3);
	background-color: var(--wp--preset--color--base-2);
	color: var(--wp--preset--color--contrast);
	padding: 0.25em 1.25em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: var(--wp--preset--color--contrast);
	font-weight: var(--wp--custom--wc-bold-text);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a:hover {
	color: var(--wp--preset--color--accent-1);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: var(--wp--preset--color--base);
	color: var(--wp--preset--color--contrast);
	border-bottom-color: var(--wp--preset--color--base);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	box-shadow: -2px 2px 0 var(--wp--preset--color--base-2);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border-color: var(--wp--preset--color--base-3);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after {
	box-shadow: -2px 2px 0 var(--wp--preset--color--base);
}

html body .wp-block-woocommerce-product-details.is-style-minimal ul.tabs.wc-tabs li {
	color: var(--wp--preset--color--contrast-3);
	opacity: 1;
	font-weight: var(--wp--custom--wc-bold-text);
	padding: 0.25em 1.25em;
}

.woocommerce table.shop_attributes {
	border-top: 1px solid var(--wp--preset--color--base-2);
}

.woocommerce table.shop_attributes th {
	font-weight: var(--wp--custom--wc-bold-text);
	border-bottom: 1px solid var(--wp--preset--color--base-2);
}

.woocommerce table.shop_attributes td {
	border-bottom: 1px solid var(--wp--preset--color--base-2);
}

.woocommerce .woocommerce-Reviews .comment-reply-title {
	font-weight: var(--wp--custom--wc-bold-text);
}

.woocommerce form label {
	display: block;
	margin-bottom: .25em;
}

.woocommerce form input:not([type="submit"], .wp-block-search__input),
.woocommerce form textarea,
.wc-block-add-to-cart-form .quantity .qty {
	border-radius: var(--wp--custom--input-radius);
	color: var(--wp--preset--color--contrast);
	background-color: var(--wp--preset--color--base-2);
	border: 1px solid var(--wp--preset--color--base-3);
	padding: calc(.667em + 2px);
}

/*
 * Add to Cart Button
 * Display a call to action button which either adds the product to the cart, or links to the product page.
 */
.wp-block-button.wc-block-components-product-button .wp-block-button__link {
	margin-bottom: 0 !important;
}

.woocommerce a.added_to_cart {
	padding-top: 0;
	margin-top: 0;
}

/*
 * Mini-Cart
 * Display a button for shoppers to quickly view their cart.
 */
.wc-block-mini-cart__badge {
	background-color: var(--wp--preset--color--accent-1);
	color: var(--wp--preset--color--base);
	font-weight: 500;
}

.wc-block-mini-cart__items .wc-block-mini-cart__products-table .wc-block-cart-items__row {
	border-bottom: 1px solid var(--wp--preset--color--base-2);
}

.wc-block-mini-cart__items .wc-block-mini-cart__products-table .wc-block-cart-items__row:last-child {
	border-bottom: 0px;
}

table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__image img {
	border: 2px solid var(--wp--preset--color--base-2);
	border-radius: 4px;
}

.wp-block-woocommerce-mini-cart-contents a.wc-block-components-product-name,
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name,
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link {
	color: inherit;
	text-decoration: none;
}

.wp-block-woocommerce-mini-cart-contents a.wc-block-components-product-name:hover,
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-components-product-name:hover,
table.wc-block-cart-items .wc-block-cart-items__row .wc-block-cart-item__quantity .wc-block-cart-item__remove-link:hover {
	text-decoration: underline;
}

.wc-block-mini-cart__footer {
	background-color: var(--wp--preset--color--base-2);
}

.wc-block-mini-cart__footer::after {
	border-color: var(--wp--preset--color--base-3);
}

/*
 * Cart
 * Shopping cart.
 */
.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__header,
table.wc-block-cart-items .wc-block-cart-items__header {
	font-size: var(--wp--preset--font-size--small);
}

.editor-styles-wrapper table.wc-block-cart-items .wc-block-cart-items__header th,
table.wc-block-cart-items .wc-block-cart-items__header th {
	font-weight: var(--wp--custom--wc-bold-text);
}

.is-large.wc-block-cart .wc-block-cart__totals-title {
	font-size: var(--wp--preset--font-size--small);
	font-weight: var(--wp--custom--wc-bold-text);
}

.wc-block-components-quantity-selector::after {
	border-radius: var(--wp--custom--select-radius);
	border: 1px solid var(--wp--preset--color--base-3);
}

.wc-block-components-quantity-selector > .wc-block-components-quantity-selector__button--minus {
	border-radius: var(--wp--custom--select-radius) 0 0 var(--wp--custom--select-radius);
}

.wc-block-components-quantity-selector > .wc-block-components-quantity-selector__button--plus {
	border-radius: 0 var(--wp--custom--select-radius) var(--wp--custom--select-radius) 0;
}

.wc-block-components-quantity-selector > .wc-block-components-quantity-selector__button--minus:focus,
.wc-block-components-quantity-selector > .wc-block-components-quantity-selector__button--plus:focus {
	box-shadow: none;
}

/*
 * Checkout
 * Display a checkout form so your customers can submit orders.
 */
.wc-block-components-order-summary .wc-block-components-order-summary-item__quantity {
	background: var(--wp--preset--color--accent-1);
	border-width: 0px;
	box-shadow: 0 0 0 2px var(--wp--preset--color--base);
	color: var(--wp--preset--color--base);
}

.wc-block-components-order-summary .wc-block-components-order-summary-item__total-price,
.wc-block-components-totals-item__value,
.wc-block-components-totals-footer-item .wc-block-components-totals-item__label {
	font-weight: var(--wp--custom--wc-bold-text);
}

.wc-block-components-totals-footer-item .wc-block-components-totals-item__label,
.wc-block-components-totals-footer-item .wc-block-components-totals-item__value {
	font-size: var(--wp--preset--font-size--large);
}

/*
 * Active Filters
 * Display the currently active filters.
 */
.wc-block-active-filters .wc-block-active-filters__list-item-remove {
	background: var(--wp--preset--color--base-2);
	border: 1px solid var(--wp--preset--color--base-3);
	width: 18px;
	height: 18px;
	line-height: 18px;
}

.wc-block-active-filters .wc-block-active-filters__list-item-remove:hover {
	background: var(--wp--preset--color--base-3);
	border: 1px solid var(--wp--preset--color--base-3);
}

.wc-block-active-filters .wc-block-active-filters__list-item-remove svg path,
.wc-block-active-filters .wc-block-active-filters__list-item-remove:hover svg path {
	fill: var(--wp--preset--color--contrast);
}

/*
 * Filter by Price
 * Enable customers to filter the product grid by choosing a price range.
 */
.wp-block-woocommerce-price-filter {
	border-color: var(--wp--preset--color--base-3);
	border-radius: var(--wp--custom--input-radius);
}

.wc-block-price-filter__controls input {
	background-color: var(--wp--preset--color--base-2);
}

/*
 * General Checkbox
 * Example usage in Filter by Attribute Controls, and Checkout Order Notes
 */
.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"] {
	background-color: var(--wp--preset--color--base-2);
	border-color: var(--wp--preset--color--base-3);
}

/*
 * [woocommerce_my_account]
 */
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
	border-color: var(--wp--preset--color--base-3);
	padding: 2rem;
	border-radius: var(--wp--custom--input-radius);
}

/*
 * Order Summary
 * Display the order summary on the order confirmation page.
 */
.wc-block-order-confirmation-summary ul li > .wc-block-order-confirmation-summary-list-item__key {
	font-weight: var(--wp--custom--wc-bold-text);
}

/*
 * Order Totals Section
 * Display the order details section.
 */
.wc-block-order-confirmation-totals table tfoot th,
.wc-block-order-confirmation-totals table thead {
	font-weight: var(--wp--custom--wc-bold-text);
}
